
.tableContainer {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    min-width: 100%;
    margin: 20px auto;
}

.tableHeader {
    display: flex;
    margin-bottom: 7px;
    border-radius: 7px;
    background-color: gray;
    color: ghostwhite;
}

.tableHeader :first-child {
    flex: 0.3;
}

.tableRowGroup {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.tableRow {
    display: flex;
    margin-bottom: 10px;
    background-color: beige;
    border-radius: 7px;
}

.tableRow :first-child {
    flex: 0.3;
}

.tableCell {
    flex: 1;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .tableContainer {
        flex-direction: row;
        justify-content: center;
        height: 1px;
    }

    .tableHeader {
        flex-direction: column;
        height: 100%;
    }

    .tableRowGroup {
        flex: 2;
        overflow-y: scroll;
    }

    .tableRow {
        flex-direction: column;
        min-height: 100%;
    }

    .tableRow .tableCell {
        border-bottom: 2px solid white;
    }

    .tableHeader :first-child {
        border-bottom: none;
    }

    .tableCell {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

