.app {
  position: relative;
  height: 100%;
  margin: 0 30px;
  z-index: 1;
}

.buttonContainer {
  position: relative;
  padding: 20px 0;
}

.buttonModal{
position: absolute ;
  width: 100px;
  right: 5px;
}

.react-icons {
  position: relative;
  left: 0;
  vertical-align: middle;
}
